body {
  font-size: 16px;
}

.container {
  width: 960px;
  margin: 0 auto;
  /*border: 1px solid #000;*/
}

header img {
  width: 700px;
}

h2 {
  width: 200px;
}

#playerMove {
  width: 360px;
  /*border: 1px solid #000;*/
  
  margin: 0 auto;
}

.player {
  width: 960px;
  height: 200px;
}

#gamestatus {
  display: inline-block;
  height: 165px;
  width: 260px;
  border: 1px solid black;
}

.button {
  display: inline-block;
  height: 165px;
  width: 260px;
  border: 1px solid black;
}

#rock {
  background-image: url('../rock.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#paper {
  background-image: url('../paper.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#scissors {
  background-image: url('../scissors.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#computer {
  background-image: url('../computer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.button-green {
  position: center;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-green {
  background: rgb(28, 184, 65);
  /* this is a green */
}
/*
<span id="computerScore"> 00</span>
        <input type="text" placeholder="enter a move" />
        <input id="Rock" type="button" value="Rock" />
        <input id="Paper" type="button" value="Paper" />
        <input id="Scissors" type="button" value="Scissors" />
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

{
  display: block;
  margin: 8px;
}

{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

div#computer_move.center {
  text-align: center;
}



div#content.center {
  position: center;
}

div#nav {
  width: 960px;
  height: 680px;
  display: inline;
}

div#title {}

#logo {
  width: 300px;
  height: 500px;
}

.move#player_move {
  font-family: sans-serif;
  font-size: 24px;
}

.playerMove#Rock {}

.playerMove#Paper {}

.playerMove#Scissors {}

.button-green {
  position: center;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-green {
  background: rgb(28, 184, 65);
  /* this is a green */